<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed bg-dark">
        <a class="navbar-brand" href="">MyNodeJS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse bg-dark" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        </div>
    </nav>
    <!-- Navbar -->

    <!-- Background image -->
    <div
        class="p-5 text-center bg-image"
        style="
        background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
        background-repeat: no-repeat;
        background-size: 100%;
        "
    >
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
            <h1 class="mb-3">Heading</h1>
            <h4 class="mb-3">Subheading</h4>
            <a class="btn btn-outline-light btn-lg" href="#!" role="button"
            >Call to action</a
            >
            </div>
        </div>
        </div>
    </div>
    <!-- Background image -->
</header>