<style>
    .card: hover {
        color: #00838d;
        transition: opactiy 0.3s linear;
        opacity: 1;
    }

</style>    
    
    <div class="container">
        <div class="row">


            <div class="col-12 col-sm-6 col-lg-4 mb-4">
                <div class="card border-primary text-primary">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <h6 class="card-subtitle mb-2">Romania</h6>
                        <p class="card-text">Economically, Bucharest is the most prosperous city in Romania and one of the main industrial centres of Eastern Europe. </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 mb-4">
                <div class="card border-primary text-primary">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <h6 class="card-subtitle mb-2">Romania</h6>
                        <p class="card-text">Economically, Bucharest is the most prosperous city in Romania and one of the main industrial centres of Eastern Europe. </p>
                    </div>
                </div>
            </div>

        </div>
    </div>